
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  margin-top: 20vh;
width: 150px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
border: 3px dotted red; 
border-radius: 10px;
}
.h1_div{
  display: flex;
gap: 10px;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}


button{
width: 150px;
height: 45px;
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
transition: 0.3s linear;
border-radius: 12px;
margin-bottom: 10px;
margin-top: 50px;

}
button:hover{
  border: 3px solid red;
  transform: scale(1.2);
}